input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  #error {
    color: red;
    font-weight: bold;
  }
  body{
    margin-top: 200px;
    text-align: center;
    background-image: url("https://images.freeimages.com/images/large-previews/37a/white-wall-1527707.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
 